body {
    padding: 0;
    margin: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 38vw;
    background-color: #FFFFFF;
    overflow: hidden;
    font-weight: bold;
}
.red-flag {
    color: #FF0000;
}